body{
    background-color: rgb(230, 181, 141);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    text-align: center;
}

label{
    text-align: center;
}

p{
    text-align: center;
}

#txt{
    text-align: left;
    text-decoration-line: underline;
}

.conversions{
      border-style: dashed;
}

#icon{
    color: black;
}